h2{
    text-align: center;
    
}
.form-type{
    margin-left: 30px;
}
input[type="email"]{
    border: 2px solid palevioletred;
}
input{
    border: 1px solid lightseagreen;
    border-radius: 9px;
    box-shadow: 7px 8px 10px gainsboro;
}
button{
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 5px 5px 10px gray;
}
a{
    text-decoration: none;
    color: black;
}
label{
    font-size: 18px;
    font-weight: 500;
    
}
.header{
    /* background-color: lightblue; */
   /* height: 150px; */
 background-color: antiquewhite;
   
 background-image: url("sample.jpg");
 background-size: cover;
 background-position: contain;
 height: 300px;
   }
.header h3{
    text-align: center;
    padding: 20px;
   
}